modules = ["web", "java-graalvm22.3", "nix"]

[nix]
channel = "stable-24_05"
packages = ["gradle", "gut"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40093334
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd tutorial && ./gradlew bootRun"

[[workflows.workflow]]
name = "git commit"
mode = "sequential"
author = 40093334

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m 'commit message'"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin main"

[[workflows.workflow]]
name = "test"
mode = "sequential"
author = 40093334

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd tutorial && ./gradlew test"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 39727
externalPort = 3000
exposeLocalhost = true
